:root {
    --s: 200px; /* controls the size */
    --f: 1.2; /* controls the scale factor */
}

body {
    margin: 0;
    border: solid 2px red;
}

.gallery {
    display: flex;
    overflow: hidden; /* Hide any overflow outside the gallery */
    width:100vw;
    /* height: auto; */
    border: solid 2px blue;
}

.col_1, .col_2, .col_3 {
    border: solid 2px green;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Hide any overflow outside the gallery */
}

img {
    flex: 1;
    /* width: var(--s);
    height: var(--s); */
    object-fit:cover;
    /* transition: transform 0.4s ease-in-out; */
}

.gallery img:hover {
    transform: scale(var(--f));
    transition: transform 0.3s ease-in-out;
    z-index: 1; /* Ensure the hovered image appears on top */
    flex: 1;
    /* flex-grow:var(--s); */
}

.bottom:hover {
    transform-origin:bottom;
}

.top:hover {
    transform-origin:top;
}

.centerTile {
    display: flex;
    /* flex: -1; */
    /* flex-shrink: 1; */
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}
